#
# Verify system
check system $HOST
  if loadavg (5min) > 3 then alert
  if loadavg (15min) > 1 then alert
  if memory usage > 80% for 4 cycles then alert
  if swap usage > 20% for 4 cycles then alert
  if cpu usage (user) > 80% for 2 cycles then alert
  if cpu usage (system) > 20% for 2 cycles then alert
  if cpu usage (wait) > 30% for 2 cycles then alert
  if cpu usage > {{ getenv "IO_THREADS" }}00% for 4 cycles then alert

# Verifica espaço em disco
check filesystem rootfs path /
  if space usage > 85% then alert

# Verifica serviço de rsyslogd (Atualmente utilizamos apenas Graylog)
check process syslogd with pidfile /var/run/syslogd.pid
  start program = "/bin/systemctl start rsyslog"
  stop program = "/bin/systemctl stop rsyslog"

# Verificar conn established
check program TCP_ESTABLISHED with path "/opt/galeb/router/scripts/monit_conn_established.sh"
    if status > {{ getenv "FE_MAXCONN" }} then alert

# Verificar conn time_wait
check program TCP_TIMEWAIT with path "/opt/galeb/router/scripts/monit_conn_tw.sh"
    if status > {{ getenv getenv "MAX_TW" }}  then alert
