<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOGLEVEL">INFO</Property>
    <Property name="hostname">${env:HOSTNAME}</Property>
    <Property name="syslog_host">${env:SYSLOG_HOST}</Property>
    <Property name="syslog_port">${env:SYSLOG_PORT}</Property>
    <Property name="tags">${env:LOGGING_TAGS}</Property>
  </Properties>
  <Appenders>
    <Socket name="SyslogAccess" host="${syslog_host}" port="${syslog_port}" protocol="UDP">
      <PatternLayout pattern="&lt;14&gt;%d{MMM dd HH:mm:ss} ${hostname} syslog2gelf: %m%n"/>
    </Socket>
    <Socket name="SyslogApp" host="${syslog_host}" port="${syslog_port}" protocol="UDP">
      <PatternLayout pattern="&lt;14&gt;%d{MMM dd HH:mm:ss} ${hostname} router: [%p] %t %enc{%m} %exception\ttags: ${tags},APP%n"/>
    </Socket>
  </Appenders>
  <Loggers>
    <Logger name="org.xnio.listener" level="FATAL" additivity="false"/>
    <Logger name="io.undertow.request" level="FATAL" additivity="false"/>
    <Logger name="io.galeb.router.handlers.completionListeners.AccessLogCompletionListener" level="INFO" additivity="false">
      <AppenderRef ref="SyslogAccess" level="${env:LOGLEVEL}"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="SyslogApp" level="${env:LOGLEVEL}"/>
    </Root>
  </Loggers>
</Configuration>
