version: 2
jobs:
    build:
        working_directory: ~/circleci-java-spring

        docker:
            - image: tuxmonteiro/rhcircleci

        steps:
            - checkout

            - restore_cache:
                key: circleci-galeb-{{ checksum "pom.xml" }}

            - run:
                name: Define Galeb version
                command: |
                  repo='galeb/galeb4'
                  last=$(curl -s https://api.github.com/repos/$repo/releases/latest | jq -r .tag_name | sed 's/v.\+\..\+\.//')
                  export GALEB_VERSION=4.0.$[last + 1]
                  echo $GALEB_VERSION | tee /tmp/galeb_version

            - run:
                name: Build package
                command: |
                  export GALEB_VERSION=$(cat /tmp/galeb_version)
                  mvn package

            - save_cache:
                paths:
                    - ~/.m2
                key: circleci-galeb-{{ checksum "pom.xml" }}

            - deploy:
                name: Push release
                command: |
                    if [ "x${FORCE_DEPLOY}" == "xtrue" -o "${CIRCLE_BRANCH}" == "master" -o "${CIRCLE_BRANCH}" == "develop" ]; then
                      sudo yum install -y ruby-devel gcc make rpm-build rubygems
                      sudo gem install --no-ri --no-rdoc fpm
                      repo='galeb/galeb4'
                      export GALEB_VERSION=$(cat /tmp/galeb_version)
                      echo $GALEB_VERSION
                      make galeb dist
                      upload=$(curl -s -H "Authorization: token $GITHUB_TOKEN" -XPOST -d'{"body": "v'$GALEB_VERSION'", "name": "v'$GALEB_VERSION'", "tag_name": "v'$GALEB_VERSION'"}' https://api.github.com/repos/$repo/releases | jq -r .upload_url | sed 's/{.*//')
                      cd dists/; for pkg in *${GALEB_VERSION}*rpm; do
                        curl -s -H "Authorization: token $GITHUB_TOKEN" -XPOST -H'content-type: application/x-redhat-package-manager' --data-binary @$pkg ${upload}?name=${pkg}
                        curl -v -T $PWD/$pkg -H "X-Bintray-Package:Galeb4" -H "X-Bintray-Version:${GALEB_VERSION}" -H"X-Bintray-Publish:1" -H"X-Bintray-Override:1" -u${BINTRAY_USER}:${BINTRAY_TOKEN} https://api.bintray.com/content/galeb/rpm/7/noarch/
                      done; cd - > /dev/null
                    fi